Repository SpadeBoard/Spadeboard, pull requests merged in 2025-05, with the labels that each got.

#76 fix: delete already existing card face element per card face from save
  backend/Controllers/CardFaceElementsController.cs
  backend/Services/Classes/Card/CardFaceElementPerCardFaceService.cs
  backend/Services/Classes/DndItem/DndItemService.cs
  frontend/src/app/features/card-game-core/components/card-editor-controls-cards-template-collection/card-editor-controls-cards-template-collection.component.css
  frontend/src/app/features/card-game-core/components/card-editor-current-card-face-elements-per-card-face/card-editor-current-card-face-elements-per-card-face.component.html
  frontend/src/app/features/card-game-core/components/card-editor-current-card-face-elements-per-card-face/card-editor-current-card-face-elements-per-card-face.component.ts
  frontend/src/app/features/card-game-core/components/card-editor-element-delete-button/card-editor-element-delete-button.component.ts
  frontend/src/app/features/card-game-core/components/card-editor/card-editor.component.ts
  frontend/src/app/features/card-game-core/models/card-face-element.ts
  frontend/src/app/features/card-game-core/services/card-editor-preview.service.ts
  frontend/src/app/features/card-game-core/services/card-game-core/card-face-element-api.service.ts
Labels: Process: Bug, Feature: Card Editor, :fire: Priority: High

#80 Change Card Operation Button Aesthetics
  frontend/src/app/features/card-game-core/components/card-editor-card-operations-button/card-editor-card-operations-button.component.css
  frontend/src/app/features/card-game-core/components/card-editor-card-operations-button/card-editor-card-operations-button.component.html
Labels: System: Card Game Core, Feature: Card Editor, :house_with_garden: Priority: Low

#88 refactor: changed editability on click
  frontend/src/app/features/card-game-core/components/card-editor-current-card-face-elements-per-card-face/card-editor-current-card-face-elements-per-card-face.component.html
  frontend/src/app/features/card-game-core/components/card-editor-current-card-face-elements-per-card-face/card-editor-current-card-face-elements-per-card-face.component.ts
Labels: System: Card Game Core, Feature: Card Editor, :house_with_garden: Priority: Low

#91 fix: replace file paths for all images of a card editor card dto when…
  backend/Controllers/FileUploadsController.cs
  backend/Services/Classes/File/FileUploadService.cs
  backend/Services/Interfaces/General/File/IFileUploadService.cs
  frontend/src/app/features/card-game-core/components/cards-collection/cards-collection.component.ts
  frontend/src/app/utils/services/file-upload-api.service.ts
Labels: System: Card Game Core, Feature: Card Editor, :fire: Priority: High

#94 54 game room nav sidebar aesthetics
  frontend/src/app/features/card-game-core/components/card-editor-close/card-editor-close.component.css
  frontend/src/app/features/card-game-core/components/card-editor-close/card-editor-close.component.html
  frontend/src/app/features/card-game-core/components/card-editor-close/card-editor-close.component.spec.ts
  frontend/src/app/features/card-game-core/components/card-editor-close/card-editor-close.component.ts
  frontend/src/app/features/card-game-core/components/card-editor-controls-design-cards-template-container/card-editor-controls-design-cards-template-container.component.css
  frontend/src/app/features/card-game-core/components/card-editor-controls-design-cards-template-container/card-editor-controls-design-cards-template-container.component.html
  frontend/src/app/features/card-game-core/components/card-editor-controls-design-cards-template-container/card-editor-controls-design-cards-template-container.component.ts
  frontend/src/app/features/card-game-core/components/card-editor/card-editor.component.css
  frontend/src/app/features/card-game-core/components/card-editor/card-editor.component.html
  frontend/src/app/features/card-game-core/components/card-editor/card-editor.component.ts
  frontend/src/app/features/card-game-core/services/card-game-core/card-game-core.service.ts
  frontend/src/app/features/game-room/components/game-room-nav/game-room-nav.component.css
  frontend/src/app/features/game-room/components/game-room-nav/game-room-nav.component.html
  frontend/src/app/features/game-room/components/game-room-nav/game-room-nav.component.spec.ts
  frontend/src/app/features/game-room/components/game-room-nav/game-room-nav.component.ts
  frontend/src/app/features/game-room/components/game-room/game-room.component.html
  frontend/src/app/features/game-room/components/game-room/game-room.component.ts
Labels: Process: Refactor, System: Card Game Core, Feature: Card Editor

#102 fix: automatically closes editor on image upload
  frontend/src/app/features/card-game-core/components/card-face-image-editor/card-face-image-editor.component.ts
Labels: Feature: Card Editor, :house_with_garden: Priority: Low

#103 refactor: implement generic crud service for all services needing it
  backend/Areas/Identity/Data/ApplicationDbContext.cs
  backend/Mapper/CardGameCoreMappingProfile.cs
  backend/Models/Bridge/CardFaceElementPerCardFace.cs
  backend/Models/Bridge/CardFacePerCard.cs
  backend/Models/Bridge/CardPerOwner.cs
  backend/Models/Bridge/CardPositionPerRoom.cs
  backend/Models/Cards/Card.cs
  backend/Models/Cards/CardFace.cs
  backend/Models/Cards/CardFaceElement.cs
  backend/Models/DndItems/DndItem.cs
  backend/Models/GameRooms/GameRoom.cs
  backend/Models/Styles/Style.cs
  backend/Services/Classes/Card/CRUD/CrudService.cs
  backend/Services/Classes/Card/CRUD/DtoCrudService.cs
  backend/Services/Classes/Card/DTO/CardDtoService.cs
  backend/Services/Classes/Card/DTO/CardEditorCardFaceDtoService.cs
  backend/Services/Classes/Card/DTO/CardFaceDtoService.cs
  backend/Services/Classes/Card/DTO/CardFaceElementDtoService.cs
  backend/Services/Classes/Card/DTO/CardFaceElementPerCardFaceDtoService.cs
  backend/Services/Classes/Card/DTO/CardPerOwnerDtoService.cs
  backend/Services/Classes/Card/DTO/CardPositionPerRoomDtoService.cs
  backend/Services/Classes/Card/Data/CardFaceElementPerCardFaceService.cs
  backend/Services/Classes/Card/Data/CardFaceElementService.cs
  backend/Services/Classes/Card/Data/CardFacePerCardService.cs
  backend/Services/Classes/Card/Data/CardFaceService.cs
  backend/Services/Classes/Card/Data/CardPerOwnerService.cs
  backend/Services/Classes/Card/Data/CardPositionPerRoomService.cs
  backend/Services/Classes/Card/Data/CardService.cs
  backend/Services/Classes/DndItem/DTO/DndItemDtoService.cs
  backend/Services/Classes/DndItem/Data/DndItemService.cs
  backend/Services/Classes/DndItem/Data/DndPositionService.cs
  backend/Services/Classes/GameRoom/GameRoomDtoService.cs
  backend/Services/Classes/GameRoom/GameRoomService.cs
  backend/Services/Classes/Style/StyleDtoService.cs
  backend/Services/Classes/Style/StyleService.cs
  backend/Services/Interfaces/General/CRUD/ICrud.cs
Labels: Process: Refactor, Process: General Design

#110 107 unsubscribe every observable aside from api calls to prevent memory leaks
  frontend/src/app/features/card-game-core/components/card-editor-controls-cards-template-collection/card-editor-controls-cards-template-collection.component.ts
  frontend/src/app/features/card-game-core/components/card-editor-current-card-face-elements-per-card-face/card-editor-current-card-face-elements-per-card-face.component.ts
  frontend/src/app/features/card-game-core/components/card-editor-face-preview/card-editor-face-preview.component.ts
  frontend/src/app/features/card-game-core/components/cards-collection/cards-collection.component.ts
  frontend/src/app/features/card-game-core/services/card-editor-preview.service.ts
Labels: Process: Refactor, Process: General Design, :house_with_garden: Priority: Low

#114 feat: delete card editor card dto logic in backend and frontend
  backend/Services/Classes/Card/DTO/CardEditorCardDtoService.cs
  backend/Services/Classes/Card/DTO/CardEditorCardFaceDtoService.cs
  backend/Services/Classes/Card/DTO/CardFaceElementPerCardFaceDtoService.cs
  backend/Services/Classes/Card/DTO/CardFacePerCardDtoService.cs
  backend/Services/Classes/Card/DTO/CardPerOwnerDtoService.cs
  backend/Services/Classes/Card/Data/CardFaceElementPerCardFaceService.cs
  backend/Services/Classes/Card/Data/CardFacePerCardService.cs
  backend/Services/Classes/Card/Data/CardPerOwnerService.cs
  backend/Services/Interfaces/Card/DTO/ICardEditorCardFaceDtoService.cs
  backend/Services/Interfaces/Card/DTO/ICardFaceElementPerCardFaceDtoService.cs
  backend/Services/Interfaces/Card/DTO/ICardFacePerCardDtoService.cs
  backend/Services/Interfaces/Card/DTO/ICardPerOwnerDtoService.cs
  backend/Services/Interfaces/Card/Data/ICardFaceElementPerCardFaceService.cs
  backend/Services/Interfaces/Card/Data/ICardFacePerCardService.cs
  backend/Services/Interfaces/Card/Data/ICardPerOwnerService.cs
  frontend/src/app/features/card-game-core/components/card-delete-button/card-delete-button.component.css
  frontend/src/app/features/card-game-core/components/card-delete-button/card-delete-button.component.html
  frontend/src/app/features/card-game-core/components/card-delete-button/card-delete-button.component.spec.ts
  frontend/src/app/features/card-game-core/components/card-delete-button/card-delete-button.component.ts
  frontend/src/app/features/card-game-core/components/card-editor-card-operations-button/card-editor-card-operations-button.component.ts
  frontend/src/app/features/card-game-core/components/card-editor-controls-cards-template-collection/card-editor-controls-cards-template-collection.component.html
  frontend/src/app/features/card-game-core/components/card-editor-controls-cards-template-collection/card-editor-controls-cards-template-collection.component.ts
  frontend/src/app/features/card-game-core/components/card-editor-preview/card-editor-preview.component.ts
  frontend/src/app/features/card-game-core/components/cards-collection/cards-collection.component.html
  frontend/src/app/features/card-game-core/components/cards-collection/cards-collection.component.ts
  frontend/src/app/features/card-game-core/services/card-editor-preview.service.ts
  frontend/src/app/features/card-game-core/services/card-game-core/card-api.service.ts
  frontend/src/app/features/card-game-core/services/card-game-core/card-game-core.service.ts
Labels: System: Card Game Core, Feature: Card Editor

#147 fix: flipped state gets stored properly
  frontend/src/app/features/card-game-core/components/card-position-per-room/card-position-per-room.component.html
  frontend/src/app/features/card-game-core/components/card-position-per-room/card-position-per-room.component.ts
  frontend/src/app/features/card-game-core/components/card/card.component.ts
Labels: Process: Bug, System: Card Game Core, Feature: D&D Board, :house_with_garden: Priority: Low
